body {
    margin:0;
    padding:0;
    font-family: "poppins", sans-serif;
}

div {
    padding: 30px;
    width: 30vw;
}

div.randombg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

div.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    text-align: center;
    box-sizing: border-box;
}

div.rounded {
    border-radius: 15px;
}


div.tinted {
    color: white!important;
    background-color: #000000b7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

a {
    color: white;
}
a:hover {
    text-decoration: none;
    color: #dddddd;
}
a:visited {
    color: white;
}

#input_container {
    backdrop-filter: blur(5px);
    padding: 50px;
    cursor: pointer;
    transition: transform 150ms ease, filter 150ms ease, box-shadow 150ms ease;
    will-change: transform, filter, box-shadow;
    &:hover {
        transform: scale(1.05);
    }
}
